In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
url =r"C:\Users\DELL\Downloads\eda pratical\titanic_ dataset_final.csv"
df = pd.read_csv(url)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [6]:
pip install ollama

Requirement already satisfied: ollama in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (0.6.0)
Requirement already satisfied: httpx>=0.27 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ollama) (0.28.1)
Requirement already satisfied: pydantic>=2.9 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ollama) (2.11.9)
Requirement already satisfied: anyio in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from httpx>=0.27->ollama) (4.10.0)
Requirement already satisfied: certifi in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from httpx>=0.27->ollama) (2025.8.3)
Requirement already satisfied: httpcore==1.* in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from httpx>=0.27->ollama) (1.0.9)
Requirement already satisfied: idna in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from httpx>=0.27->ollama) (3.10)
Requirement already satisfied: h11>=0.16 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from httpcore==1.*->httpx>=0.27->ollama) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pydantic>=2.9->ollama) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pydantic>=2.9->ollama) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pydantic>=2.9->ollama) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pydantic>=2.9->ollama) (0.4.1)
Requirement already satisfied: sniffio>=1.1 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from anyio->httpx>=0.27->ollama) (1.3.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~oogle-ai-generativelanguage (c:\Users\DELL\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~penai (c:\Users\DELL\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~oogle-ai-generativelanguage (c:\Users\DELL\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~penai (c:\Users\DELL\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~oogle-ai-generativelanguage (c:\Users\DELL\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~penai (c:\Users\DELL\AppData\Local\Programs\Python\Python313\Lib\site-packages)

In [7]:
import ollama

def generate_insights(df_summary):
    prompt = f"Analyze the dataset summary and provide insights:\n\n{df_summary}"
    response = ollama.chat(model="mistral", messages=[{"role": "user", "content": prompt}])
    return response['message']['content']

# Generate AI Insights
summary = df.describe().to_string()
insights = generate_insights(summary)
print("\nðŸ”¹ AI-Generated Insights:\n", insights)

ðŸ”¹ AI-Generated Insights:
  The dataset is from the Titanic disaster and contains 891 observations (passengers) with the following characteristics:

1. **PassengerId**: Unique ID for each passenger, ranging from 1 to 891.

2. **Survived**: Binary variable indicating whether the passenger survived (1) or not (0). The mean value of 0.3838 suggests that slightly less than 40% of passengers survived.

3. **Pclass**: Indicates the class of travel on the Titanic. Ranging from 1 to 3, with higher values representing higher-class passengers (first and second class). The mean value of 2.3086 suggests a majority of passengers were in second class or steerage (third class had Pclass = 3).

4. **Age**: Age of the passenger. The mean age is 29.69, but with a standard deviation of 14.53, indicating a wide range of ages among the passengers.

5. **SibSp**: Number of siblings or spouses aboard the Titanic. The mean value is 0.52, suggesting that most passengers had either 0 or 1 sibling/spouse on board.

6. **Parch**: Number of parents or children aboard the Titanic with the passenger. The mean value is 0.38, indicating most passengers did not travel with any parent or child.

7. **Fare**: Fare paid for the passage by the passenger. With a mean fare of 32.20 and a standard deviation of 49.69, it's evident that fares varied significantly among passengers.

Overall, the data shows that the majority of passengers were in second class or steerage, with relatively young ages and fewer traveling with family members. The survival rate was around 38%, which aligns with historical records of the Titanic disaster.

In [14]:
import gradio as gr

def eda_analysis(file):
    df = pd.read_csv(file.name)
    summary = df.describe().to_string()
    insights = generate_insights(summary)
    return insights

# Create Web Interface
demo = gr.Interface(fn=eda_analysis, inputs="file", outputs="text", title="AI-Powered EDA with Mistral")

# Launch App
demo.launch(share=True)  # Use share=True for Google Colab

* Running on local URL:  http://127.0.0.1:7867

Could not create share link. Please check your internet connection or our status page: https://status.gradio.app.